.container {
  max-width: 800px;
  color: #687177;
  font-family: "Raleway","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #283A44;
}

h1 {
  font-family: "Great Vibes";
}

hr {
  background: url('images/sep.png') no-repeat top center;
  border : 0;
  height : 56px;
  margin: 0 0 3.5rem 0;
}
